@import "styles/vars";

*,
* *,
* * * {
	box-sizing: border-box;
}

.App {
    background: $controls;
	box-sizing: border-box;
	color: $white;
	font-family: $font-family;
	height: 100vh;
	overflow: hidden;
	padding: 1rem 2rem;
	font-weight: 400;
}

header {
	display: flex;
	align-items: center;
	cursor: pointer;

	span {
		margin-left: auto;
		opacity: 0.2;
		transition: all .3s;
	}

	&:hover {
		span {
			opacity: 1;
			transition: all .3s;
		}
	}
}

h1 {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

footer {
	margin-top: 0.5rem;
}

footer small {
	opacity: .5;
}