@import '../../styles/vars';

.container {
	display: flex;
	height: calc(100% - 9rem);
	margin-top: 2rem;
	min-width: 20rem;
	width: auto;
}

.chatContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.chatBox {
	display: flex;
	background: $background;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	overflow-y: auto;
	padding: 1rem;
	border-top-right-radius: $border-radius;
}

.message {
	background: $controls;
	padding: 1rem;
	margin: 0.35rem 0;
	min-width: 27%;
	overflow-wrap: anywhere;
	max-width: 55%;
	@include radius;

	&:first-child {
		margin-top: auto;
	}

	&.byAuthor {
		background: $blue;
		align-self: flex-end;
	}

	.author {
		font-size: 0.85rem;
		opacity: 0.6;
		margin-bottom: 0.75rem;
	}
	.text {
		font-size: 0.9rem;
	}
}