@import "../../styles/vars";

.inputs {
	padding: 1rem;
	background: $background;
	border-top: 0.0625rem solid rgba($background, 0.3);
	border-bottom-right-radius: $border-radius;
	display: flex;

	input {
		border: none;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		outline: none;
		padding: 0.5rem;
		width: 100%;
	}

	button {
		border: none;
		background: $active;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		color: white;
		cursor: pointer;
		font-weight: bold;
		padding: 0.5rem 1rem;
		text-transform: uppercase;
	}
}