@import "src/styles/vars";

.usersList {
	background: $background;
	display: flex;
	flex-direction: column;
	width: 25%;
	border-right: 0.0625rem solid $controls;
	@include radius;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	.user {
		padding: 1.5rem 2rem;
		border-bottom: 0.0625rem solid $controls;
		position: relative;


		.status {
			position: absolute;
			font-size: 0.8rem;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			background: $white;
			color: $controls;
			padding: 0.15rem 0.35rem;
			@include radius;
		}
	}
}