@import '../styles/vars';

.container {
	background: $background;
	margin-top: 2rem;
	width: 50rem;
	height: 25rem;
	@include radius;
}

.chatBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
}

.message {
	background: $background-light;
	padding: 1rem;
	margin: 0.5rem 0;
	min-width: 25%;
	max-width: 55%;
	@include radius;

	&.byAuthor {
		background: $background-lighter;
		align-self: flex-end;
	}

	.author {
		font-size: 0.85rem;
		opacity: 0.6;
		margin-bottom: 0.75rem;
	}
	.text {
		font-size: 0.9rem;
	}
}