@import '../styles/vars';

.container {
	margin-top: 2rem;
	width: 80%;
	min-width: 20rem;
	max-width: 50rem;
	height: 25rem;
}

.chatBox {
	align-items: flex-start;
	justify-content: flex-end;
	display: flex;
	background: $background;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	flex-direction: column;
	height: 70vh;
	min-height: 30rem;
	overflow: scroll;
	padding: 1rem;
}

.message {
	background: $controls;
	padding: 1rem;
	margin: 0.5rem 0;
	min-width: 25%;
	max-width: 55%;
	@include radius;

	&.byAuthor {
		background: $blue;
		align-self: flex-end;
	}

	.author {
		font-size: 0.85rem;
		opacity: 0.6;
		margin-bottom: 0.75rem;
	}
	.text {
		font-size: 0.9rem;
	}
}