$grey: #232425;
$background: #42485b;
$background-light: #363d59;
$background-lighter: #525a79;
$white: white;
$font-family: system-ui, -apple-system, sans-serif;
$message: rgb(191, 192, 193);

@mixin radius {
	border-radius: 0.25rem;
}