$grey: #232425;
$background: rgba(27, 35, 42);
$controls: rgba(36, 48, 63);
$blue: rgb(72, 107, 146);
$active: rgb(81, 166, 241);
$white: white;
$font-family: system-ui, -apple-system, sans-serif;
$message: rgb(191, 192, 193);

$border-radius: 0.25rem;

@mixin radius {
	border-radius: $border-radius;
}