$grey: #232425;
$background-dark: #242838;
$background: #42485b;
$dark-blue: #2b4f7e;
$blue: #418cb4;
$active: #47a8dc;
$white: white;
$font-family: system-ui, -apple-system, sans-serif;
$message: rgb(191, 192, 193);

$border-radius: 0.25rem;

@mixin radius {
	border-radius: $border-radius;
}